@use "../../../styles/variable.scss" as style;

// .statistics{
//     background-color: style.$whiteColor; border-radius: 10px;
// }
.stat_cards{
    padding: 25px 40px; border-radius: 14px; color: style.$whiteColor;
    .stat_card_text{
        @include style.flex(space-between, flex-start, 0px);
            span{
        padding: 12px; border-radius: 14px; display: inline-flex; align-items: center; gap: 5px;  color: style.$whiteColor; font-size: 14px; font-weight: 500;
    }
    }
    &:nth-child(1){
     background: linear-gradient(135deg, rgba(0, 188, 125, 0.6) 0%, rgba(0, 212, 146, 0.5) 50%, rgba(0, 213, 190, 0.6) 100%); box-shadow: 0px 4px 6px -4px #0000001A; box-shadow: 0px 10px 15px -3px #0000001A;
      .stat_card_text{
        span{
          background: linear-gradient(90deg, #00D492 0%, #00D5BE 100%); box-shadow: 0px 4px 6px -4px #0000001A; box-shadow: 0px 10px 15px -3px #0000001A;
        }
      }
    }
    &:nth-child(2){
     background: linear-gradient(135deg, rgba(43, 127, 255, 0.6) 0%, rgba(81, 162, 255, 0.5) 50%, rgba(124, 134, 255, 0.6) 100%); box-shadow: 0px 4px 6px -4px #0000001A; box-shadow: 0px 10px 15px -3px #0000001A;
         .stat_card_text{
        span{
        background: linear-gradient(90deg, #51A2FF 0%, #7C86FF 100%); box-shadow: 0px 4px 6px -4px #0000001A; box-shadow: 0px 10px 15px -3px #0000001A;
        }
      }
    }
    &:nth-child(3){
     background: linear-gradient(135deg, rgba(142, 81, 255, 0.6) 0%, rgba(166, 132, 255, 0.5) 50%, rgba(194, 122, 255, 0.6) 100%); box-shadow: 0px 4px 6px -4px #0000001A; box-shadow: 0px 10px 15px -3px #0000001A;
   .stat_card_text{
        span{
         background: linear-gradient(90deg, #A684FF 0%, #C27AFF 100%); box-shadow: 0px 4px 6px -4px #0000001A; box-shadow: 0px 10px 15px -3px #0000001A;
        }
      }
    }
    .text{
        font-size: 14px; line-height: 24px; font-weight: 500; padding-bottom: 15px; text-transform: uppercase; color: style.$TextColor;
    }
    .amount{
        font-size: 30px; line-height: 40px; font-weight: 700; padding-bottom: 15px; color: style.$StatsAmount;
    }
    .success{
        background-color: style.$successColor; 
    }
    .error{
        background-color: style.$errorColor;
    }
    .stat_card_icon{
        @include style.flex(space-between, flex-start, 0);
        .status{
          @include style.flex(flex-start, center, 10px); color: #007A55; background-color: #D0FAE5;
        }
        a{
            font-size: 14px; line-height: 24px; font-weight: 500; color: style.$TextColor;
        }
        span{
          padding: 10px; border-radius: 14px; background: #FFFFFF33; padding: 4px 12px;
        }
    }

    [data-theme="dark"] & {
    .stat_card_text{
      .amount{
        color: style.$darkModeTitle;
      }
    }
    &:nth-child(1){
    background: linear-gradient(135deg, rgba(11, 79, 74, 0.4) 0%, rgba(0, 79, 59, 0.4) 100%); box-shadow: 0px 1px 2px -1px #0000001A; box-shadow: 0px 1px 3px 0px #0000001A; border: 1px solid #00786F80;
    .stat_card_text{
      .text{
        color: #46ECD5;
      }
      span{
        background: #009689;
      }
    }
    }
     &:nth-child(2){
  background: linear-gradient(135deg, rgba(28, 57, 142, 0.4) 0%, rgba(49, 44, 133, 0.4) 100%); border: 1px solid #1447E680; box-shadow: 0px 1px 2px -1px #0000001A; box-shadow: 0px 1px 3px 0px #0000001A;
   .stat_card_text{
      .text{
        color: #8EC5FF;
      }
       span{
        background: #155DFC;
      }
    }
    }
     &:nth-child(3){
    background: linear-gradient(135deg, rgba(89, 22, 139, 0.4) 0%, rgba(77, 23, 154, 0.4) 100%); box-shadow: 0px 1px 2px -1px #0000001A; box-shadow: 0px 1px 3px 0px #0000001A; border: 1px solid #8200DB80;
     .stat_card_text{
      .text{
        color: #DAB2FF;
      }
       span{
        background: #9810FA;
      }
    }
    }
    }
}

.chart{
    // @include style.flex(flex-start, 'flex-start', 20px);
    display: flex; gap: 20px; box-sizing: border-box;
.chartContainer {
    width: 70%; background-color: style.$whiteColor; border-radius: 10px; padding: 20px; box-sizing: border-box; box-shadow: 0px 4px 6px -4px #0000001A; box-shadow: 0px 10px 15px -3px #0000001A;
.chart_head{
    @include style.flex(space-between, center, 0px); padding-bottom: 48px;
    & > div{
      @include style.flex(flex-start, center, 12px); 
      .svg{
        background: linear-gradient(90deg, #2B7FFF 0%, #615FFF 100%); color: style.$whiteColor; border-radius: 10px; padding: 8px;
      }
      p{
        color: style.$TextColor; font-size: 14px; line-height: 24px; font-weight: 400;
      }
    }
    .chartTitle {
      font-size: 16px; line-height: 26px; font-weight: 600; color: style.$pageTitle;
    }
    li{
      list-style: none; color: #62748e; padding:8px 10px; 
    }
}
    .legend {
      ul{
      @include style.flex(flex-start, center, 15px); border: 1px solid style.$borderColor; box-shadow: 0px 1px 2px -1px #0000001A; box-shadow: 0px 1px 3px 0px #0000001A; margin: 10px 0; border-radius: 14px; height: 32px; font-size: 14px; font-weight: 500; cursor: pointer;
      }
      & > div{
        @include style.flex(flex-start, center, 10px);
        p{
          font-size: 14px; line-height: 24px; font-weight: 400; color: style.$TextColor;
          &::before{
            content: ""; height: 12px; width: 12px; background: linear-gradient(90deg, #2B7FFF 0%, #00B8DB 100%); display: inline-block; margin-right: 5px; border-radius: 50%;
          }
        }
      }
      .legend_active{
        color: style.$whiteColor; background: linear-gradient(90deg, #2B7FFF 0%, #615FFF 100%); border-radius: 14px;
        @include style.flex(flex-start, center, 8px);
      }
    }
    .legendItem {
        font-size: 14px;
      }
    .stats{
      grid-template-columns: repeat(3, minmax(200px, 1fr)); padding-bottom: 48px;
      div{
        .title{
          font-size: 14px; font-weight: 500; line-height: 24px;
        }
        .sum{
          font-size: 20px; line-height: 30px; font-weight: 700;
        }
      }
      > div:nth-child(1){
        background: linear-gradient(90deg, #FAF5FF 0%, #FDF2F8 100%); border: 1px solid #F3E8FF; border-radius: 14px; padding: 13px; color: #9810FA;
      }
        > div:nth-child(2){
       background: linear-gradient(90deg, #EFF6FF 0%, #ECFEFF 100%);border: 1px solid #DBEAFE; border-radius: 14px; padding: 13px; color: #155DFC;
      }
         > div:nth-child(3){
      background: linear-gradient(90deg, #ECFDF5 0%, #F0FDFA 100%); border-top: 1px solid #D0FAE5; border-radius: 14px; padding: 13px; color: #009966;
      }
    }
  } 
      @media screen and (max-width: 767px) {
        .chartContainer{
          .chart_head{
            padding-bottom: 20px;
          }
          .stats{

            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); padding-bottom: 20px;
          }
        }
      } 

      [data-theme="dark"] & {
        .chartContainer{
          .chart_head{
            .chartTitle{
              color: style.$darkModeTitle;
            }
            p{
              color: style.$darkModeDes;
            }
            .legend{
              p, li{
                color: #CAD5E2;
              }
            }
          }
        }
      }
}

.orders { 
    background: style.$whiteColor; padding: 20px; border-radius: 10px; overflow-x: auto; box-shadow: 0px 4px 6px -4px #0000001A; box-shadow: 0px 10px 15px -3px #0000001A; border-radius: 14px;
    .order_header{
      td{
      font-size: 14px; line-height: 24px; font-weight: 400; color: #6A7282; padding-bottom: 3px;
      svg, strong{
         vertical-align: middle;
      }
      svg{
        padding-right: 10px
      }
      }
    }
    .order_head { 
       @include style.flex(space-between, center, 0px); padding-bottom: 48px;
       & > div{
        @include style.flex(flex-start, center, 12px)
       }
       svg{
        background: linear-gradient(90deg, #8E51FF 0%, #AD46FF 100%); border-radius: 10px; padding: 8px;
       }
        .title{
            font-size: 16px; line-height: 26px; font-weight: 500; color: style.$pageTitle;
        }
        .summary{
          font-size: 14px; line-height: 24px; color: style.$TextColor;
        }
        a{
            font-size: 14px; line-height: 24px; font-weight: 500; color: style.$whiteColor; background: linear-gradient(90deg, #2B7FFF 0%, #615FFF 100%); box-shadow: 0px 4px 6px -4px #2B7FFF40; box-shadow: 0px 10px 15px -3px #2B7FFF40; border-radius: 14px; padding: 8px 16px;
        }
        @media screen and (max-width: 767px) {
          flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 20px;
          
        }
    }
    .recent_orders{
      thead{
         background: linear-gradient(90deg, #F8FAFC 0%, #F1F5F9 100%);
      }
    }
    .status_td{
      width: 100px; padding-right: 30px;
      .status{
        width: 70px; display: inline-block; text-align: center;
      }
    }
}

.block{
    width: calc(100% - 300px);
}
.table_block {
  background: style.$whiteColor; border-radius: 14px; overflow-x: auto;
  .loading{
    [data-theme="dark"] & {
      color: #CAD5E2;
    }
  }

  table {
   width: 100%; border-collapse: collapse; border-spacing: 0 12px; text-align: left; border: 1px solid style.$borderColor; border-radius: 14px;

    thead {
      border-bottom: 1px solid #E2E8F0;
      tr th {
     font-size: 14px; font-weight: 600; color: #6b7280; text-transform: uppercase; letter-spacing: 0.05em; padding: 16px;
   
      }
    }

    tbody, tfoot {
      tr {
        background: #fff; border-radius: 12px; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05); border-bottom: 1px solid #E2E8F0;

        td {
          padding: 16px; font-size: 15px; color: #374151; vertical-align: middle; white-space: normal; max-width: 15rem; min-width: 8rem; 
          &.id{
            font-size: 14px; color: style.$TextColor; background-color: unset;
            &.complete{
              &:before{
                content: ""; height: 10px; width: 10px; background-color: #10b981; display: inline-block; border-radius: 50%; margin-right: 10px;            
              }
            }
             &.pending{
              &:before{
                content: ""; height: 10px; width: 10px; background-color: #3b82f6; display: inline-block; border-radius: 50%; margin-right: 10px;            
              }
            }
             &.cancel, &.cancelled{
              &:before{
                content: ""; height: 10px; width: 10px; background-color: #ef4444; display: inline-block; border-radius: 50%; margin-right: 10px;            
              }
            }
          }
          &.name{
            font-size: 16px; color: style.$pageTitle; font-weight: 500; @include style.flex(flex-start, center, 12px); 
            div{
              background: linear-gradient(90deg, #2B7FFF 0%, #615FFF 100%); padding: 5px; border-radius: 50%; color: style.$whiteColor;     width: 30px;
    height: 30px;
    text-align: center; display: flex; justify-content: center; align-items: center;
            }
          }
          &.prod_name{
            font-size: 16px; color: style.$LabelColor; font-weight: 400;
          }
          &.cat_name{
            font-size: 12px; font-weight: 400; color: style.$LabelColor; 
            span{
              background: linear-gradient(90deg, #F1F5F9 0%, #E2E8F0 100%); padding: 4px 15px; border-radius: 12px; display: inline-block;
            }
          }
          &.amount {
            font-weight: 600; color: style.$pageTitle; font-size: 16px;
          }
          &.status_td{
            .status{
            padding: 4px 15px; border-radius: 12px; color: style.$whiteColor;
            }
          }
        }
        .viewDetailBtn{
          color: style.$LinkColor;
        }
         &.no_border {
          border-bottom: none; box-shadow : unset;
        }
        &.shadow{
          box-shadow: unset;
        }
      }
    }
    tfoot{
      tr{
        &:last-child{
          border-bottom: unset;
        }
      }
    }
    [data-theme="dark"] &{
    thead{
      border-bottom: transparent;
      tr th{
        background: #314158; color: #CAD5E2;
      }
    }
    tbody, tfoot{
      tr{
           background: #1D293D; border-color: #314158;
           td{
            background: #1D293D; color: #CAD5E2;
              &.id{
                background: #1D293D;

              }
              &.prod_name{
                color: #CAD5E2;
              }
              &.cat_name{
                span{
                border: 1px solid #45556C; color: #CAD5E2; background: unset;
                }
              }
              &.status_td{
                .status{
                color: #fff;
                }
              }
           }
        }
    }
     }
  }
}

.complete {
  background-color: #10b981;
}

.cancelled {
  background-color: #ef4444;
}

.processing, .pending {
  background-color: #3b82f6;
}


@media screen and (max-width: 767px) {
    .statistics{
        background-color: unset;
        .stat_cards{
            background-color: style.$whiteColor; border: unset; border-radius: 10px; padding-inline: 20px;
        }
    }
    .chart{
        flex-direction: column; box-sizing: border-box;
        .chartContainer{
            width: 100%; box-sizing: border-box;
            .chart_head{
                flex-direction: column; align-items: flex-start;
                .chartTitle{
                    padding-bottom: 0px;
                }
            }
        }
    }
}

.salesMap {
    width: 30%; background: style.$whiteColor; border-radius: 10px; padding: 20px; box-sizing: border-box; box-shadow: 0px 4px 6px -4px #0000001A; box-shadow: 0px 10px 15px -3px #0000001A;
    .sales_head{
      @include style.flex(flex-start, center, 15px); padding-bottom: 48px;
      svg{
        background: linear-gradient(90deg, #00BC7D 0%, #00BBA7 100%); border-radius: 14px; padding: 8px;
      }
      p{
        font-size: 14px; line-height: 24px; font-weight: 400; color: style.$TextColor;
      }
    }
    .salesMapTitle {
    font-size: 16px; line-height: 26px; font-weight: 600; color: style.$pageTitle; 
  }
  
    .mapContainer {
    width: 100%; height: 315px; // Fixed height for map position: relative; margin-bottom: 20px;
      .vectorMap {
    width: 100%; height: 300px; overflow: hidden; border: 1px solid #BEDBFF; border-radius: 14px; background: linear-gradient(135deg, #EFF6FF 0%, #E0E7FF 100%);
        .jvectormap-container {
         width: 100%; height: 100%;
        }
      }
    }
  
.mapTooltip {
  display: flex; align-items: center; justify-content: center; color: #fff; font-weight: 600; font-size: 13px; padding: 6px 14px; border-radius: 999px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); transition: opacity 0.2s ease, transform 0.2s ease; pointer-events: none; white-space: nowrap; z-index: 10; width: 121px; border-radius: 20px; height: 36px;

  svg {
    width: 14px; height: 14px; fill: #fff;
  }
}

    
  
.countryStats {
  display: grid; grid-template-columns: 1fr; gap: 10px; overflow-y: auto; height: 170px;

  .countryStat {
    display: flex; justify-content: space-between; align-items: center; padding: 12px 14px; border-radius: 14px; position: relative;

    &:nth-child(odd) {
     background: linear-gradient( 90deg, rgba(0, 188, 125, 0.05) 0%, rgba(0, 201, 80, 0.05) 100% ); border: 2px solid #5ee9b5; box-shadow: 0px 4px 6px -4px #0000001A; box-shadow: 0px 10px 15px -3px #0000001A;

      & > div:first-child::before {
        content: "";
      display: inline-block; width: 14px; height: 14px; border-radius: 50%; margin-right: 8px; background: linear-gradient(90deg, #009966 0%, #00a63e 100%);
      }

      progress::-webkit-progress-value {
        background: linear-gradient(90deg, #009966 0%, #00a63e 100%);
      }

      & > div:nth-child(2) p {
        background: #a4f4cf;
        color: #065f46;
      }
    }

    &:nth-child(even) {
      background: linear-gradient(90deg, #fffbeb 0%, #fff7ed 100%); border: 2px solid #fee685;

      & > div:first-child::before {
       content: ""; display: inline-block; width: 14px; height: 14px; border-radius: 50%; margin-right: 8px; background: linear-gradient(90deg, #fe9a00 0%, #ff6900 100%);
      }

      progress::-webkit-progress-value {
        background: linear-gradient(90deg, #fe9a00 0%, #ff6900 100%);
      }

      & > div:nth-child(2) p {
        background: #fef3c6; color: #92400e;
      }
    }

    h4 {
      font-size: 16px; font-weight: 600; margin-bottom: 4px; color: style.$pageTitle;
    }

    p {
      font-size: 14px; line-height: 24px; color: style.$TextColor; margin: 0;
    }

    & > div:first-child {
     display: flex; align-items: center; gap: 8px;

      h4,
      p {
        display: block;
      }
    }

    & > div:nth-child(2) {
      display: flex; align-items: center; gap: 10px; flex-wrap: wrap; flex: 1; justify-content: flex-end;
      // @media screen and (min-width: 1024px) and (max-width) {
        
      // }

      p {
       font-size: 13px; font-weight: 600; padding: 3px 8px; border-radius: 6px; min-width: 48px; text-align: center; box-shadow: 0px 1px 2px -1px #0000001a, 0px 1px 3px 0px #0000001a;
      }
    }

    progress {
      width: 100px; height: 6px; border-radius: 4px; overflow: hidden; appearance: none; background-color: #e5e7eb; margin-right: 8px;

      &::-webkit-progress-bar {
        background-color: #f3f4f6; border-radius: 4px;
      }

      &::-webkit-progress-value {
        border-radius: 4px;
      }

      &::-moz-progress-bar {
        border-radius: 4px;
      }
    }
  }
}


  
    .noData {
      text-align: center; padding: 20px; color: #666; background: #f8f9fa; border-radius: 6px;
    }
    .highlighted {
  transition: fill 0.3s ease, stroke 0.3s ease;
  filter: drop-shadow(0 0 4px rgba(43, 127, 255, 0.25));
}

  [data-theme="dark"] & {
    .mapContainer{
      .vectorMap{
        background: unset;
      }
    }
    .countryStats{
      .countryStat{
        background: unset;
      }
    }
  }
  }
  
  // Responsive adjustments
  @media (max-width: 1200px) {
    .chart{
        flex-direction: column;
        .chartContainer{
            width: 100%;
        }
    }
    .salesMap {
      width: 100%;
      
      .mapContainer {
        height: 320px;
        &:nth-child(1){
          height: 170px;
        }
      }
      
      .countryStats {
        grid-template-columns: repeat(2, 1fr); height: unset;
        // &:nth-child(odd){
        //   background: linear-gradient(90deg, rgba(0, 188, 125, 0.05) 0%, rgba(0, 201, 80, 0.05) 100%); color: style.$blackColor; 
        // }
        //  :nth-child(even){
        //  background: linear-gradient(90deg, #FFFBEB 0%, #FFF7ED 100%); color: style.$blackColor; 
        // }
      }
    }
  }
  
  @media (max-width: 768px) {
    .salesMap {
      .countryStats {
        grid-template-columns: 1fr;
      }
      
      .mapContainer {
        height: 320px;
        & > div{
          height: 140px;
        }
      }
    }
  }

    .employee_button{margin-bottom: 20px; padding: 15px 20px !important;}

    .download_orders{
      background-color: style.$TextColor !important;
    }