.modalOverlay {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5); display: flex;
    align-items: center; justify-content: center;
    z-index: 1000;
  }
  
  .modalContent {
    background: #fff; padding: 40px; width: 400px;
    border-radius: 8px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center; position: relative; margin-inline: 20px;
  
    .modalTitle {
      margin-bottom: 15px; font-size: 22px; color: #333;
    }
  
    .option {
      margin-bottom: 15px; text-align: left;
  
      .optionLabel {
        font-size: 16px; font-weight: 500; color: #555;
        display: block; margin-bottom: 5px;
      }
  
      .optionSelect {
        width: 100%; padding: 8px; font-size: 14px;
        border: 1px solid #ddd; border-radius: 4px;
      }
    }
    .modal_cta{
        padding-top: 10px;
    }
    .confirmButton {
      background: #4FACB8; color: #fff; border: none;
      padding: 10px 15px; font-size: 16px; font-weight: 600;
      cursor: pointer; border-radius: 5px; margin-top: 10px; width: 100%;
  
    }
  
    .closeButton {
      background: #595959; color: #fff; border: none;
      padding: 10px 15px; font-size: 16px; font-weight: 600;
      cursor: pointer; border-radius: 5px; margin-top: 10px; width: 100%;
    }
  }
  